.achievement-locked {
	opacity: 0.4;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.post-delete {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#nameandlike {
	display: flex;
	align-items: center;
	justify-content: center;
}
.justlike {
	margin: 15px 0 0 10px;
}